html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  display: grid;
  grid-template-rows: minmax(100px, 10vh) 1fr minmax(100px, 10vh);
  height: 100vh;
  background: rebeccapurple;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

h1 {
  font-size: 2rem;
  line-height: 2.25rem;
}

h1,
p {
  margin: 0;
}

a {
  color: khaki;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

header,
main,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
  text-align: center;
}

header,
footer {
  background: blueviolet;
}

main {
  flex-direction: column;
}